<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.phonegap.itaguiciudad"
        version = "1.0.0">

    <name>Itagui Ciudad</name>
    <description>
        Aplicacion para ciudadanos de itagui
    </description>

    <author href="http://www.con-sentido.org" email="comunicaciones@con-sentido.org">
        Con-Sentido Corporación Social.
    </author>
</widget> 
